ion-card-title{
    font-size: 2em;
    font-weight: 550;
    color: #555;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

ion-card-title:hover{
  font-weight: 750;
  color: #000;
}
