<ion-card>
  <app-header title="About"></app-header>
  <ion-card-content>
    <p>Tim is...
    {{['a full stack software developer.',
    'a passionate and driven individual.',
    'a devoted father and husband.',
    'an adaptable, innovative, and creative problem solver.',
    'a team player who is always willing to help others.',
    'eager to learn and expand into uncharted territories.',
    'yearning to make a positive impact within your organization.'] | typing | async}}</p>
  </ion-card-content>
</ion-card>
