<ion-card>
  <app-header title="About"></app-header>
  <ion-card-content>
    <p>Full stack software developer with a degree in Political Science and a minor in Art.<br>
    A multipotentialite with several years of experience in software engineering,<br> as well as a background in social services, case management, and mental health.<br>
    An adaptable, innovative, and creative problem solver who is eager to learn and expand into uncharted territories.<br>
    Yearning to leverage his skills to make a positive impact within your organization.</p>
  </ion-card-content>
</ion-card>
