<ion-card>
  <app-header title="Experience"></app-header>
  <ion-card-content>
    <dotlottie-player *ngIf="!display" #player src="../../assets/lottie/development.json" background="transparent" speed="1" mode="normal" autoplay></dotlottie-player>
    <ng-template let-job ngFor [ngForOf]="jobs">
    <app-job-card
      [jobtitle]="job.title"
      [company]="job.company"
      [startdate]="job.startdate"
      [enddate]="job.enddate"
      [description]="job.description"
      [skills]="job.skills"
      [img]="job.img">
    </app-job-card>
    </ng-template>
  </ion-card-content>
</ion-card>
