<ion-app>
  <ion-split-pane class="desktop" contentId="main-content" when="sm">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header id="header">Tim Barani</ion-list-header>
          <ion-note><ion-icon name="mail"/> <a href="mailto:timb63701@gmail.com" style="text-decoration: none;"> timb63701@gmail.com</a></ion-note><br>
          <ion-note><ion-icon name="location"/> Cape Girardeau, MO</ion-note><br>
          <ion-note><ion-icon name="logo-github"/> <a href="https://github.com/tbosak" style="text-decoration: none;"> https://github.com/tbosak</a></ion-note><br>
          <ion-note><ion-icon name="logo-linkedin"/> <a href="https://www.linkedin.com/in/tbarani" style="text-decoration: none;"> https://www.linkedin.com/in/tbarani</a></ion-note><br>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [href]="[p.url]" lines="none" detail="false" [color]="(this.viewedElement | async) === (p.associated) ? 'light' : ''">
              <ion-icon slot="start" [name]="p.icon" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <div id="main-content">
      <div #aboutDiv class="hidden" id="about">
      <app-about></app-about>
      </div>
      <div #expDiv class="hidden" id="experience">
      <app-history></app-history>
      </div>
      <div #eduDiv class="hidden" id="education">
      <app-education></app-education>
      </div>
      <div #portfolioDiv class="hidden" id="portfolio">
      <app-portfolio></app-portfolio>
      </div>
      <div #bulletinDiv class="hidden" id="bulletin">
        <app-bulletin></app-bulletin>
        </div>
    </div>
  </ion-split-pane>
  <div class="mobile">
    <div class="centered">
      <h1 id="full-name">
        <p style="margin-bottom: 0px;"><a id="first-name">TIM</a><a id="last-name">BARANI</a></p>
        <p id="skill">{{(['DESIGN','DEVELOPMENT','C#','ANGULAR','.NET','SQL','GIT','NODE.JS','TYPESCRIPT','JAVASCRIPT','CYPRESS','DOCKER','FULL STACK'] | typing | async)}}</p>
      </h1>
    </div>
    <a href="https://www.linkedin.com/in/tbarani/">
    <dotlottie-player id="linkedin" #player src="../../assets/lottie/linkedin.json" background="transparent" speed="1" mode="normal" autoplay loop></dotlottie-player>
    </a>
    <a href="https://github.com/TBosak">
    <dotlottie-player id="github" #player src="../../assets/lottie/github.json" background="transparent" speed="1" mode="normal" autoplay loop></dotlottie-player>
  </a>
  </div>
</ion-app>
<div class="desktop">
<dotlottie-player *ngIf="(viewedElement | async)==='about'" id="player" #player src="../../assets/lottie/about.json" background="transparent" speed="1" mode="normal" autoplay loop></dotlottie-player>
<dotlottie-player *ngIf="(viewedElement | async)==='experience'" id="player" #player src="../../assets/lottie/development.json" background="transparent" speed="1" mode="normal" autoplay loop></dotlottie-player>
<dotlottie-player *ngIf="(viewedElement | async)==='education'" id="player" #player src="../../assets/lottie/education.json" background="transparent" speed="2" mode="normal" autoplay loop></dotlottie-player>
<dotlottie-player *ngIf="(viewedElement | async)==='portfolio'" id="player" #player src="../../assets/lottie/portfolio.json" background="transparent" speed="1" mode="normal" autoplay loop></dotlottie-player>
<dotlottie-player *ngIf="(viewedElement | async)==='bulletin'" id="player" #player src="../../assets/lottie/references.json" background="transparent" speed="1" mode="normal" autoplay loop></dotlottie-player>
</div>
